@import "reset.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Noto Serif', serif;
}

@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/xBold/Dosis-Bold.woff2) format(woff2), 
    url(../fonts/Dosis/xBold/Dosis-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/xBold/Dosis-ExtraBold.woff2) format(woff2), 
    url(../fonts/Dosis/xBold/Dosis-ExtraBold.woff) format(woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url(../fonts/CircularStd/CircularStd-Book.woff2) format(woff2), 
    url(../fonts/CircularStd/CircularStd-Book.woff) format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Black';
    src: url(../fonts/CircularStd/CircularStd-Black.woff2) format(woff2), 
    url(../fonts/Dosis/CircularStd/CircularStd-Black.woff) format(woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url(../fonts/CircularStd/CircularStd-Bold.woff2) format(woff2), 
    url(../fonts/Dosis/CircularStd/CircularStd-Bold.woff) format(woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url(../fonts/CircularStd/CircularStd-Medium.woff2) format(woff2), 
    url(../fonts/Dosis/CircularStd/CircularStd-Medium.woff) format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

div, h1, h2, p, ul, img {
    margin-bottom: 20px;
} 

.header {
    max-width: 700px;
    min-width: 340px;
    margin-right: 20px;
    background-color: azure;
    box-shadow: 10px 10px 15px red;
}

.main {
    max-width: 85%;
    margin-left: 50px;
    background-color: rgb(239, 231, 247);
}

.scroll {
    overflow: auto;
    height: 200px;
    margin-left: -100px;
    box-shadow: 5px 15px 25px red, -5px 5px rgb(0, 2, 128);
}

.footer {
    background-color: rgba(245, 245, 220, 0.747);
    max-width: 500px;
    margin: -70px 15px 20px 465px;
    outline: 10px dashed greenyellow;
}

ul {
    margin-top: 20px;
    border-left: 5px dashed rgb(0, 81, 255);
}

ul li {
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Dosis';    
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgb(104, 100, 97);
}

h1 {    
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

.subtitle {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    text-shadow: none;
    word-spacing: ;
}

.main {
    margin-top: -80px;
    box-shadow: 4px 8px 20px rgba(39, 2, 8, 0.678);
}

.nav {
    font-style: italic;
    font-weight: 800;
    line-height: 10px;
    outline: 10px solid black;
}

.invisible {
    visibility: hidden;
}

a {
    color: rgb(74, 187, 8);
    text-decoration: underline;
}

a:visited {
    color: rgb(74, 145, 34);
}


p {
    line-height: 1.5;
    text-indent: 25px;
}

img {
    width: 100%;
    display: block;
}

.keypressingmonkey img {
    width: 150px;
    box-shadow: 2px 5px 5px 5px rgb(6, 2, 59);
    border-radius: 50%;
    float: left; 
    margin-right: 20px;
}

footer img:hover {
    box-shadow: 2px -3px 5px rgb(74, 133, 22);
}

.separator {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

mark {
    text-decoration: underline;
    color: red;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 3px;
    border: 5px double rgb(19, 20, 18);
    display: inline-block;
    border-radius: 20px 50px 10px 50px;
    box-shadow: 3px 6px 10px 15px rgb(17, 175, 141);
    opacity: 0.4;
}

li>span {
    color: red;
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
    margin-right: 5px;
    border-right: 5px dotted rgb(12, 233, 23);
}

span {
    font-size: 34px;
    height: 3px;
    width: 3px;
    margin-right: 20px;
}

